h1 {
    background-color: rgb(122, 122, 124);
    color: white;
    border-radius: 10px;
    width: 800px;
    padding: 10px;
}

body{
    padding: 10px 10px 10px 10px;
    background-color: rgb(48, 47, 47);
    color: white;
}

a:link,
a:visited, 
a:active {
    font-style: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-right: 30px;
}

.navbar{
    background-color: rgba(35, 34, 34, 0.816);
    width: 800px;
    border-radius: 10px;
    padding: 10px;
}

.Input-text{
    background-color: rgb(13, 202, 236);
    font-size: 20px;
    font-weight: bolder;
    width: 300px;
    color: red;
}

.Linear-gradiant{
    background: linear-gradient(to right, #241942, #7264c0);
    width: 300px;
    text-align: center;
}

.Input-date{
    background-color: green;
    width: 150px;
}

.Img-border{
    margin: 0 10px 0 10px;
    border-radius: 100px 0 100px 0;
}

.Div-center{
    border: solid 3px red;
    text-align: center;
    background-color: bisque;
    color: black;
    margin: 20px;
}

.Code-Object{
    font-weight: bold;
}

.Code-Text{
    font-style: italic;
}