h1 {
    background-color: darkblue;
    color: azure;
    border-radius: 10px;
    width: 800px;
    padding: 10px;
}

.Input-text{
    background-color: aqua;
    font-size: 20px;
    font-weight: bolder;
    width: 300px;
    color: red;
}

.Input-date{
    background-color: green;
    width: 150px;
}